:root, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    --progress-height: 0%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enter,#base {
    width: 70%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
h2,p,h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
h2,h3 {
    text-align: center;
    margin: 0;
    margin-top: 0.01em;
    margin-bottom: 0.01em;
}
h2 {font-size: 6em;}
h3 {
    font-size: 2.4em;
    font-weight: 500;
    transition: color 0.3s cubic-bezier(0.46,0.03,0.52,0.96);
    color: black;
}
h3.positive{
    color: rgb(64, 255, 47);
}
h3.negative{
    color: rgb(223, 22, 22);
}
h3.positive.negative{
    color: rgb(0, 89, 255);
}

p {
    font-size: 1.3em;
}
button,.button {
    align-self: center;
    font-size: 1.4em;
    padding: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    cursor: pointer;

    background-color: rgb(24, 24, 24);
    border-radius: 5px;
    border: solid 2px rgb(31, 31, 31);
    box-shadow: 1px 1px 1px black;
    color: wheat;
}
#base {
    display: none;
}
.progress::before{
    content: "";
    position: fixed;
    top: 0%;
    right: 0%;
    max-height: 100%;
    background-color: rgb(139, 0, 0);
    height: var(--progress-height);
    width: 2.5em;
    border-radius: 0 0 10px 10px;
    filter: blur(12px);
    transition: height 0.2s cubic-bezier(0.46,0.03,0.52,0.96), border-radius 0.5s cubic-bezier(0.46,0.03,0.52,0.96);
}
.progress {
    position: fixed;
    top: 0%;
    right: 0%;
    max-height: 100%;
    background-color: rgb(90, 6, 6);
    height: var(--progress-height);
    width: 2.5em;
    filter: none;
    border-radius: 0 0 10px 10px;
    box-shadow: inset -10px -10px 5px rgba(0, 0, 0, 0.479), inset 5px 0px 3px rgba(255, 255, 255, 0.466);
    transition: height 0.2s cubic-bezier(0.46,0.03,0.52,0.96), border- 0.5s cubic-bezier(0.46,0.03,0.52,0.96);
}
.progress::after{
    font-weight: 550;
    content: "PROGRESS";
    font-size: 1em;
    position: fixed;
    top: 0%;
    right: 0%;
    max-height: 100%;
    background-color: rgba(39, 0, 0, 0.3);
    height: var(--progress-height);
    width: 2.5em;
    border-radius: 0 0 10px 10px;
    writing-mode: vertical-lr;
    color: pink; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.46,0.03,0.52,0.96);
}
.progress.border-radius-0, .progress.border-radius-0::before {
    border-radius: 0;
}
.hi-score{
    position: fixed;
    top: 0;
    left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color: black;
}
#curscore{
    top: 2em;
}


